data_sources:
  - name: measurements_external
    table_name: measurements
    reader: readers.api_reader.fetch_all_external_data
    single_record: false
    cleaner: cleaners.clean.clean_measurement_external
    prepare_for_insert: cleaners.clean.prepare_for_insert
    loader: loaders.load.upsert_measurement_external
    validator_table: measurements_external

  - name: measurements_user
    table_name: measurements
    reader: readers.csv_reader.read_all_user_data
    single_record: false
    cleaner: cleaners.clean.clean_measurement_user
    prepare_for_insert: cleaners.clean.prepare_for_insert
    loader: loaders.load.update_measurement_user_data
    validator_table: measurements_user
